<h2 id="{{name}}" class="docH2">{{longname}}</h2>

<p>
    Text presentation of the component {{componentName}}
</p>

<div class="data codeTable">
    <table>
        <tr>
            <th scope="row"><code>[baseClass]</code></th>
            <td>Base class. Required. Skins and subclasses that extend <code>[baseClass]</code> should add their classname to this element.</td>
        </tr>
        {{#each skins}}
        {{#if doc}}
        <tr>
          <th scope="row"><code>{{className}}</code></th>
          <td>{{{doc}}}</td>
        </tr>
        {{/if}}
        {{/each}}
    </table>
</div>

<ul class="listComponent">
    {{#each skins}}
    <li>
        {{{html}}}
        {{{htmlcode}}}
    </li>
    {{/each}}
</ul>
